<template name="chatroom">
    
    <h3>Chat</h3>
    <div id="chat">
        {{#each msgs}}
        <p>
            {{owner}} {{action}}: {{msg}}
        </p>
	    {{scrollToBottom}}
        {{/each}}
    </div>
    <div id="msg-wrap">
    	<input type="text" name="user-name" placeholder="Your name"/>
        <button class="set-name">Set name</button>
    	{{#constant}}
        <div>
	        <textarea cols="30" rows="4" type="text" id="msg" ></textarea>
	        <button class="msg-send">
	            Send
	        </button>
	        <button class="room-exit">
	            Exit
	        </button>
        </div>
        {{/constant}}
    </div>
    
</template>